header {
     background-color: black;
     color: cyan;
}

body {
    background-color: aquamarine;
    color: fuchsia;
}

h1 {
    color: crimson;
}

p {
    color: darkmagenta;
}

h2 {
    color: deeppink;
}

ul {
    color: lime;
}

li {
    color: rosybrown;
}

footer {
    background-color: blueviolet;
    color: dodgerblue;
}